@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="Vector2.js" type="text/javascript"></script>
    <script src="OBB.js" type="text/javascript"></script>
    <script src="CollisionDetector.js" type="text/javascript"></script>
    <script src="easel.js" type="text/javascript"></script>
</head>
<body>
    <p>
        你好
    </p>
    <table class="table">
        <tr>
            <th>
                我的名字
            </th>
            <th></th>
        </tr>
    </table>
</body>
</html>
