
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="400" width="450">
        <path d="M 100 350 q 150 -300 300 0" stroke="blue" stroke-width="5" fill="none" />
    </svg>
</body>
</html>
