
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Public.css" rel="stylesheet" />
    <title>AppIndex</title>
</head>
<body>
    <div id="level">
        <div id="title">H9无车承运运营系统</div>
        <div id="content">
            <div id="left">
                <div style="height:50%">
                    <div id="left-left">
                        
                    </div>
                    <div id="left-content"></div>
                    <div id="left-right"></div>
                </div>
                <div style="width:80%;height:50%">
                    <div id="left-left"></div>
                    <div id="left-content"></div>
                    <div id="left-right"></div>
                </div>
            </div>
            <div id="gears">
                <div id="gear-system-1">
                    <div id="gear15"></div>
                </div>
                @*<div id="gears-static"></div>
                    <div id="gear-system-1">
                        <div class="shadow" id="shadow15"></div>
                        <div id="gear15"></div>
                        <div class="shadow" id="shadow14"></div>
                        <div id="gear14"></div>
                        <div class="shadow" id="shadow13"></div>
                        <div id="gear13"></div>
                    </div>*@
                @*<div id="gear-system-2">
                        <div class="shadow" id="shadow10"></div>
                        <div id="gear10"></div>
                        <div class="shadow" id="shadow3"></div>
                        <div id="gear3"></div>
                    </div>
                    <div id="gear-system-3">
                        <div class="shadow" id="shadow9"></div>
                        <div id="gear9"></div>
                        <div class="shadow" id="shadow7"></div>
                        <div id="gear7"></div>
                    </div>
                    <div id="gear-system-4">
                        <div class="shadow" id="shadow6"></div>
                        <div id="gear6"></div>
                        <div id="gear4"></div>
                    </div>
                    <div id="gear-system-5">
                        <div class="shadow" id="shadow12"></div>
                        <div id="gear12"></div>
                        <div class="shadow" id="shadow11"></div>

                        <div class="shadow" id="shadow8"></div>
                        <div id="gear8"></div>
                    </div>*@
                @*<div class="shadow" id="shadow1"></div>*@
                @*<div id="gear1"></div>*@
                <div id="gear11"></div>
                @*<div id="gear-system-6">
                        <div class="shadow" id="shadow5"></div>
                        <div id="gear5"></div>
                        <div id="gear2"></div>
                    </div>
                    <div class="shadow" id="shadowweight"></div>*@
                <div id="chain-circle"></div>
                <div id="chain-left-start"></div>
                <div id="chain-left-end"></div>
            </div>
            <div id="right">

            </div>
        </div>
    </div>
</body>
</html>

