
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Public.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>AppIndex</title>
</head>
<body>
    <div id="level">
        <div id="title">H9无车承运运营系统</div>
        <div id="content">
            <div id="left">
                <div style="height:50%">
                    <div id="left-left">
                        <div class="box-shadow">
                            <img src="" />
                            渠道对接
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            网站
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            APP
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            VIP专属
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            小程序
                        </div>
                    </div>
                    <div id="left-content">
                        <img src="~/Images/H9/左聚合.png" />
                    </div>
                    <div id="left-right">
                        <div class="left-right-title">需求资源池</div>
                        <div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                        </div>
                    </div>
                </div>
                <div id="service-content">
                    <div id="left-bottom">
                        <div class="left-bottom-title">标准化服务</div>
                        <div class="left-bottom-content">
                            <div class="left-bottom-content-left">
                                <div class="complaint-title">
                                    在途异常
                                </div>
                                <div class="complaint-box">
                                    <div style="width:50%;float:left">
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">App轨迹缺失</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">进出电子围栏</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">停车</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">人车分离</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">打卡异常</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="complaint-box-shadow">
                                            <span style="float:left">司机报备</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                    </div>
                                    <div style="width:20%;float:left;margin-left:5px;">
                                        <div class="deal-box-shadow">
                                            <div>已处理</div>
                                        </div>
                                        <div class="deal-box-shadow" style="top:500px">
                                            待处理
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left-bottom-content-right">
                                <div class="kpi-title">需求资源池</div>
                                <div style="margin-top:40px 10px;">
                                    <div class="kpi-box-shadow">
                                        渠道对接
                                    </div>
                                    <div class="kpi-box-shadow">
                                        网站
                                    </div>
                                    <div class="kpi-box-shadow">
                                        APP
                                    </div>
                                    <div class="kpi-box-shadow">
                                        VIP专属
                                    </div>
                                    <div class="kpi-box-shadow">
                                        小程序
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gears">
                @*<div id="gear-system-1">
                        <div id="gear15"></div>
                    </div>
                    <div id="gear11"></div>
                    <div id="chain-circle"></div>
                    <div id="chain-left-start"></div>
                    <div id="chain-left-end"></div>*@


                <div style="height:50%">

                </div>
                <div class="content-bottom">
                    <div class="ui_base u_p3d">
                        <div class="base u_p3d">
                            <div class="pan"></div>
                        </div>
                    </div>
                    <div class="content-bottom-div">

                        <div class="label-div">
                            <div class="label-div-top">
                                <div class="label-div-top-left">
                                    <div class="receivable-content">
                                        <div class="receivable-title">
                                            <div style="margin-left:5px">运力分析</div>
                                        </div>
                                        <div class="receivable-status-box">
                                            <div style="width:100%;margin-left:10px;">
                                                <div style="text-align:center;font-size:12px;height: 50px;line-height: 80px;" class="complaint-status-shadow">协议运力</div>
                                                <div style="text-align:center;font-size:12px;height: 30px;line-height: 50px;" class="complaint-status-shadow">会员运力</div>
                                                <div style="text-align:center;font-size:12px;height: 40px;line-height: 50px;" class="complaint-status-shadow">普通运力</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="label-div-top-content">
                                    <div class="allocation-content">
                                        <div class="allocation-title">调度分配</div>
                                        <div style="text-align:center;">
                                            <div class="allocation-box-shadow">
                                                价格策略
                                            </div>
                                            <div class="allocation-box-shadow">
                                                线路策略
                                            </div>
                                            <div class="allocation-box-shadow">
                                                大区策略
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="label-div-top-right">
                                    <div>
                                        <div style="width:100%;">
                                            <div class="marry-title">
                                                <div style="margin-left:5px;">
                                                    匹配策略
                                                </div>
                                            </div>
                                            <div class="marry-status-shadow">
                                                线路车型策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                位置策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                车辆状态策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                回程策略
                                            </div>
                                            <div class="marry-title">
                                                <div style="margin-left:5px;">
                                                    自动成交策略
                                                </div>
                                            </div>
                                            <div class="marry-status-shadow">
                                                成本最优策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                服务最优策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                及时到场策略
                                            </div>
                                            <div class="marry-status-shadow">
                                                运力错配策略
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="label-div-bottom">
                                <div class="receivable-content">
                                    <div class="receivable-title">
                                        人工干预
                                    </div>
                                    <div class="receivable-status-box">
                                        <div style="width:100%;">
                                            <div class="receivable-status-shadow">
                                                <span style="float:left">华南地区</span>
                                                <span style="float:right">100</span>
                                            </div>
                                            <div class="receivable-status-shadow">
                                                <span style="float:left">华北地区</span>
                                                <span style="float:right">100</span>
                                            </div>
                                            <div class="receivable-status-shadow">
                                                <span style="float:left">华中地区</span>
                                                <span style="float:right">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="right">
                <div style="height:50%">
                    <div class="right-left">
                        <div class="right-right-title">需求资源池</div>
                        <div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                            <div class="transport">宁波 慈溪->合肥 肥西 30</div>
                        </div>
                    </div>
                    <div class="right-content">
                        <img src="~/Images/H9/右聚合.png" />
                    </div>
                    <div class="right-right">
                        <div class="box-shadow">
                            <img src="" />
                            渠道对接
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            网站
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            APP
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            VIP专属
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            小程序
                        </div>
                    </div>
                </div>
                <div class="balance-content">
                    <div class="balance-content-bottom">
                        <div class="balance-title">结算引擎</div>
                        <div class="receivable-bottom-content">
                            <div class="receivable-content">
                                <div class="receivable-title">
                                    应收费用
                                </div>
                                <div class="receivable-status-box">
                                    <div style="width:100%;">
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未对账</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未结清</span>
                                            <span style="float:right">62%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未开票</span>
                                            <span style="float:right">50%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="receivable-content">
                                <div class="receivable-title">
                                    应付费用
                                </div>
                                <div class="receivable-status-box">
                                    <div style="width:100%;">
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未对账</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未核销</span>
                                            <span style="float:right">62%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未开票</span>
                                            <span style="float:right">50%</span>
                                        </div>
                                        <div class="complaint-status-shadow">异常费用</div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未对账</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未核销</span>
                                            <span style="float:right">62%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未开票</span>
                                            <span style="float:right">50%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未开票</span>
                                            <span style="float:right">50%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">未开票</span>
                                            <span style="float:right">50%</span>
                                        </div>
                                        <div class="complaint-status-shadow">运费结算</div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">待预付</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">待到付</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">待回单付</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                        <div class="receivable-status-shadow">
                                            <span style="float:left">油卡待发放</span>
                                            <span style="float:right">52%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

