
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Public.css" rel="stylesheet" />
    <title>AppIndex</title>
</head>
<body>
    <div id="level">
        <div id="title">H9无车承运运营系统</div>
        <div id="content">
            <div id="left">
                <div style="height:50%">
                    <div id="left-left">
                        <div class="box-shadow">
                            <img src="" />
                            渠道对接
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            网站
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            APP
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            VIP专属
                        </div>
                        <div class="box-shadow">
                            <img src="" />
                            小程序
                        </div>
                    </div>
                    <div id="left-content"></div>
                    <div id="left-right">
                        <div>需求资源池</div>
                        <div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                            <div class="requirenment">宁波 慈溪->合肥 肥西 30</div>
                        </div>
                    </div>
                </div>
                <div style="width:80%;height:50%">
                    <div id="left-left"></div>
                    <div id="left-content"></div>
                    <div id="left-right"></div>
                </div>
            </div>
            <div id="gears">
                @*<div id="gear-system-1">
                        <div id="gear15"></div>
                    </div>
                    <div id="gear11"></div>
                    <div id="chain-circle"></div>
                    <div id="chain-left-start"></div>
                    <div id="chain-left-end"></div>*@
            </div>
            <div id="right">

            </div>
        </div>
    </div>
</body>
</html>

