body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #196a73; /* Old browsers */
    background-image: url('../Images/bg.gif');
    height: 100%;
}

.box-shadow {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #01565F;
    color: white;
    line-height: 50px;
    margin: 12px 0;
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
}
.complaint-box {
    width: 100%;
    background-color: #01565F;
}
.receivable-status-box {
    width: 100%;
    background-color: #01565F;
}


.complaint-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #01565F;
    color:white;
}

.receivable-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #01565F;
    color: white;
}

.left-bottom-content-content {
    width: 2px;
    height: 100%;
    float: left;
    background-color: blue;
}

.left-bottom-content-left {
    width: 50%;
    float: left;
    background-color: #01565F;
}

.receivable-content {
    width: 100%;
    float: left;
    background-color: #01565F;
}
.allocation-content {
    width: 100%;
    float: left;
    background-color: #01565F;
}

.left-bottom-content-right {
    width: 45%;
    float: left;
    background-color: #01565F;
}

.complaint-box-shadow {
    width: 100%;
    height: 30px;
    background-color: #405055;
    color: white;
    line-height: 30px;
    margin: 12px 5px;
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
    font-size: 12px;
}

.receivable-status-shadow {
    float:left;
    height: 30px;
    background-color: #405055;
    width:100px;
    color: white;
    padding:5px 10px;
    line-height: 30px;
    margin: 12px 5px;
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
    font-size: 12px;
}

.complaint-status-shadow {
    width: 100%;
    float:left;
    color: white;
    font-size: 16px;
}

.deal-box-shadow {
    width: 100%;
    height: 120px;
    background-color: #405055;
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 12px 10px;
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
    font-size: 12px;
}

#level {
    width: 100%;
    height: 1px;
    top: 50%;
}

#content {
    /*text-align: center;*/
}

#left {
    width: 33%;
    height: 750px;
    background-color: #01565F;
    float: left;
}

#left-left {
    width: 30%;
    height: 100%;
    background-color: #01565F;
    float: left;
    margin-left: 5px;
}
.right-right {
    width: 30%;
    height: 100%;
    background-color: #01565F;
    float: left;
    margin-right: 5px;
}

.kpi-title {
    width: 90%;
    height: 40px;
    color: white;
    line-height: 40px;
    background-color: #00565E;
    margin-left: 5px;
}

.allocation-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #01565F;
    color: white;
}

.kpi-box-shadow {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #425B60;
    color: white;
    line-height: 50px;
    margin: 12px 0;
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
}

.receivable-box-shadow {
    width: 80%;
    text-align: center;
    height: 20px;
    background-color: #425B60;
    color: white;
    line-height: 20px;
    font-size:12px;
    /*margin: 12px 0;*/
    -moz-box-shadow: 0px 0px 30px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 30px #888888 inset;
}

#left-content {
    width: 141px;
    height: 100%;
    background-color: #01565F;
    float: left;
}
.right-content {
    width: 141px;
    height: 100%;
    background-color: #01565F;
    float: left;
}

#left-right {
    width: 40%;
    height: 100%;
    background-color: #01565F;
    float: left;
    position: relative;
}

    #left-right:before {
        background-color: #01565F;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        -moz-box-shadow: 0px 0px 10px #888888 inset; /* 老的 Firefox */
        box-shadow: 0px 0px 10px #888888 inset;
        -webkit-clip-path: polygon(100% 0%,100% calc(100% - 40px),calc(100% - 40px) 100%,0px 100%,0% 0%);
    }

.left-right-title {
    height: 30px;
    line-height: 30px;
    margin: 5px 40px 0px 5px;
    background-color: #01565F;
    z-index: 300;
    position: relative;
    font-size: 16px;
}

.right-left {
    width: 40%;
    height: 100%;
    background-color: #01565F;
    float: left;
    position: relative;
}

    .right-left:before {
        background-color: #01565F;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        -moz-box-shadow: 0px 0px 10px #888888 inset; /* 老的 Firefox */
        box-shadow: 0px 0px 10px #888888 inset;
        -webkit-clip-path: polygon(100% 0%,100% 100%,calc(0% + 40px) 100%,calc(-100% - 40px) 0%);
    }

.right-right-title {
    height: 30px;
    line-height: 30px;
    margin: 5px 40px 0px 5px;
    background-color: #01565F;
    z-index: 300;
    color: white;
    position: relative;
    font-size: 16px;
}

#service-content {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    position: relative;
    margin-left:10px;
}
.balance-content {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    position: relative;
}

.balance-content:before {
    background-color: #01565F;
    content: '';
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    -moz-box-shadow: 0px 0px 20px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 20px #888888 inset;
}


.content-bottom {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-color: #01565F;
    position: relative;
}

#service-content:before {
    background-color: #01565F;
    content: '';
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    -moz-box-shadow: 0px 0px 20px #888888 inset; /* 老的 Firefox */
    box-shadow: 0px 0px 20px #888888 inset;
}

#left-bottom {
    width: 90%;
    background-color: #01565F;
    margin: 5px;
    position: absolute;
}
.balance-content-bottom {
    width: 90%;
    background-color: #01565F;
    margin: 5px;
    position: absolute;
}

.label-div {
    margin: 5% 10%;
    width: 80%;
    height: 80%;
    background-color: springgreen;
    position: relative;
}
.label-div-top {
    width: 100%;
    height: 50%;
    background-color: red;
    position: relative
}
.label-div-bottom {
    width: 100%;
    height: 50%
}

.label-div-top-left {
    width: 20%;
    height: 100%;
    background-color: #01565F;
    float: left;
    position: relative;
}

    .label-div-top-left:before {
        background-color: #01565F;
        background: url('../Images/H9/三角形.png') no-repeat;
        background-position:center bottom 10px;
        background-size: 70px 70px;
        content: '';
        height: 100%;
        left: 0;
        width: 100%;
        position: absolute;
        -moz-box-shadow: 0px 0px 20px #888888 inset;
        box-shadow: 0px 0px 20px #888888 inset;
    }

.label-div-top-content {    
    width: 20%;
    height: 100%;
    background-color: #01565F;
    float: left;
    position: relative;
}
    .label-div-top-content:before {
        background-position: center bottom 10px;
        background-size: 70px 70px;
        content: '';
        height: 100%;
        left: 0;
        width: 100%;
        position: absolute;
        -moz-box-shadow: 0px 0px 20px #888888 inset;
        box-shadow: 0px 0px 20px #888888 inset;
    }

.label-div-top-bottom {
    width: 60%;
    height: 100%;
    background-color: brown;
    float: left
}


.content-bottom-div {
    height: 300px;
    top: 30%;
    left: 20px;
    right: 20px;
    position: absolute;
    background-color: #01565F;
}

    .content-bottom-div:before {
        background-color: #01565F;
        content: '';
        height: 100%;
        left: 0;
        border: 10px solid #1A7B84;
        border-radius: 100px;
        width: 95%;
        position: absolute;
        -moz-box-shadow: 0px 0px 40px #888888 inset; /* 老的 Firefox */
        box-shadow: 0px 0px 40px #888888 inset;
    }
    /*.content-bottom-div:after {
        background-color: green;
        content: '';
        height: 90%;
        left: 5%;
        top:5%;
        border-radius: 100px 100px 100px 100px;
        width: 90%;
        position: absolute;
    }*/

.left-bottom-title {
    height: 30px;
    line-height: 30px;
    color: white;
    margin: 10px 40px 0px 10px;
    background-color: #01565F;
    font-size: 16px;
    position: absolute;
}
.balance-title {
    height: 30px;
    line-height: 30px;
    color: white;
    margin: 10px 40px 0px 10px;
    background-color: #01565F;
    font-size: 16px;
    position: absolute;
}


.left-bottom-content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    background-color: #01565F;
}

.receivable-bottom-content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    background-color: #01565F;
}

.left-right-title {
    height: 30px;
    line-height: 30px;
    margin: 5px 40px 0px 5px;
    background-color: #01565F;
    z-index: 300;
    color: white;
    position: relative;
    font-size: 16px;
}

.requirenment {
    height: 30px;
    line-height: 30px;
    margin: 0px 40px 0px 5px;
    background-color: #01565F;
    z-index: 300;
    position: relative;
    font-size: 12px;
}
.transport {
    height: 30px;
    line-height: 30px;
    margin: 0px 40px 0px 5px;
    background-color: #01565F;
    z-index: 300;
    position: relative;
    font-size: 12px;
}

#right {
    width: 33%;
    height: 750px;
    position: relative;
    vertical-align: middle;
    background-color: #01565F;
    float: right;
}

#gears {
    width: 33%;
    height: 750px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

#gears-static {
    background: url('../Images/FgFnjks.png') no-repeat -363px -903px;
    width: 329px;
    height: 602px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    opacity: 0.4;
}

#title {
    vertical-align: middle;
    color: #9EB7B5;
    width: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 32px;
}

    #title h1 {
        font-family: 'PTSansNarrowBold', sans-serif;
        font-size: 3.6em;
        text-shadow: rgba(0, 0, 0, 0.36) 7px 7px 10px;
    }

    #title p {
        font-family: sans-serif;
        font-size: 1.2em;
        line-height: 148%;
        text-shadow: rgba(0, 0, 0, 0.36) 1px 1px 0px;
    }

.shadow {
    -webkit-box-shadow: 4px 7px 25px 10px rgba(43, 36, 0, 0.36);
    -moz-box-shadow: 4px 7px 25px 10px rgba(43, 36, 0, 0.36);
    box-shadow: 4px 7px 25px 10px rgba(43, 36, 0, 0.36);
}

/*gear-system-1*/
#gear15 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -993px;
    width: 321px;
    height: 321px;
    position: absolute;
    left: 30%;
    top: 60px;
    -webkit-animation: rotate-back 24000ms linear infinite;
    -moz-animation: rotate-back 24000ms linear infinite;
    -ms-animation: rotate-back 24000ms linear infinite;
    animation: rotate-back 24000ms linear infinite;
}

#shadow15 {
    width: 306px;
    height: 306px;
    -webkit-border-radius: 153px;
    -moz-border-radius: 153px;
    border-radius: 153px;
    position: absolute;
    left: 52px;
    top: 186px;
}

#gear14 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -856px;
    width: 87px;
    height: 87px;
    position: absolute;
    left: 162px;
    top: 296px;
}

#shadow14 {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    position: absolute;
    left: 171px;
    top: 304px;
}

#gear13 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -744px;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 174px;
    top: 309px;
    -webkit-animation: rotate 8000ms linear infinite;
    -moz-animation: rotate 8000ms linear infinite;
    -ms-animation: rotate 8000ms linear infinite;
    animation: rotate 8000ms linear infinite;
}

#shadow13 {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    position: absolute;
    left: 187px;
    top: 322px;
}

/*gear-system-2*/
#gear10 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -184px;
    width: 122px;
    height: 122px;
    position: absolute;
    left: 175px;
    top: 0;
    -webkit-animation: rotate-back 8000ms linear infinite;
    -moz-animation: rotate-back 8000ms linear infinite;
    -ms-animation: rotate-back 8000ms linear infinite;
    animation: rotate-back 8000ms linear infinite;
}

#shadow10 {
    width: 86px;
    height: 86px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    position: absolute;
    left: 193px;
    top: 18px;
}

#gear3 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -1493px;
    width: 85px;
    height: 84px;
    position: absolute;
    left: 194px;
    top: 19px;
    -webkit-animation: rotate 10000ms linear infinite;
    -moz-animation: rotate 10000ms linear infinite;
    -ms-animation: rotate 10000ms linear infinite;
    animation: rotate 10000ms linear infinite;
}

#shadow3 {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: absolute;
    left: 206px;
    top: 31px;
}

/*gear-system-3*/
#gear9 {
    background: url('../Images/FgFnjks.png') no-repeat -371px -280px;
    width: 234px;
    height: 234px;
    position: absolute;
    left: 197px;
    top: 96px;
    -webkit-animation: rotate 12000ms linear infinite;
    -moz-animation: rotate 12000ms linear infinite;
    -ms-animation: rotate 12000ms linear infinite;
    animation: rotate 12000ms linear infinite;
}

#shadow9 {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    left: 214px;
    top: 113px;
}

#gear7 {
    background: url('../Images/FgFnjks.png') no-repeat -371px 0;
    width: 108px;
    height: 108px;
    position: absolute;
    left: 260px;
    top: 159px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

#shadow7 {
    width: 76px;
    height: 76px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    position: absolute;
    left: 276px;
    top: 175px;
}

/*gear-system-4*/
#gear6 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -1931px;
    width: 134px;
    height: 134px;
    position: absolute;
    left: 305px;
    bottom: 212px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

#shadow6 {
    width: 98px;
    height: 98px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
    position: absolute;
    left: 323px;
    bottom: 230px;
}

#gear4 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -1627px;
    width: 69px;
    height: 69px;
    position: absolute;
    left: 337px;
    bottom: 245px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

/*gear-system-5*/
#gear12 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -530px;
    width: 164px;
    height: 164px;
    position: absolute;
    left: 208px;
    bottom: 85px;
    -webkit-animation: rotate 8000ms linear infinite;
    -moz-animation: rotate 8000ms linear infinite;
    -ms-animation: rotate 8000ms linear infinite;
    animation: rotate 8000ms linear infinite;
}

#shadow12 {
    width: 124px;
    height: 124px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    border-radius: 62px;
    position: absolute;
    left: 225px;
    bottom: 107px;
}



#shadow11 {
    width: 88px;
    height: 88px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    position: absolute;
    left: 247px;
    bottom: 123px;
}

#gear8 {
    background: url('../Images/FgFnjks.png') no-repeat -371px -158px;
    width: 72px;
    height: 72px;
    position: absolute;
    left: 254px;
    bottom: 131px;
    -webkit-animation: rotate 6000ms linear infinite;
    -moz-animation: rotate 6000ms linear infinite;
    -ms-animation: rotate 6000ms linear infinite;
    animation: rotate 6000ms linear infinite;
}

#shadow8 {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    position: absolute;
    left: 269px;
    bottom: 146px;
}

/*gear1*/
#gear1 {
    background: url('../Images/FgFnjks.png') no-repeat 0 0;
    width: 135px;
    height: 134px;
    position: absolute;
    left: 83px;
    bottom: 111px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

#shadow1 {
    width: 96px;
    height: 96px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    position: absolute;
    left: 103px;
    bottom: 130px;
}

/*gear-system-6*/
#gear5 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -1746px;
    width: 134px;
    height: 135px;
    position: absolute;
    left: 22px;
    top: 108px;
    -webkit-animation: rotate 10000ms linear infinite alternate;
    -moz-animation: rotate 10000ms linear infinite alternate;
    -ms-animation: rotate 10000ms linear infinite alternate;
    animation: rotate 10000ms linear infinite alternate;
}

#shadow5 {
    width: 96px;
    height: 96px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    position: absolute;
    left: 41px;
    top: 127px;
}

#gear2 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -1364px;
    width: 80px;
    height: 79px;
    position: absolute;
    left: 49px;
    top: 136px;
    -webkit-animation: rotate-back 10000ms linear infinite alternate;
    -moz-animation: rotate-back 10000ms linear infinite alternate;
    -ms-animation: rotate-back 10000ms linear infinite alternate;
    animation: rotate-back 10000ms linear infinite alternate;
}

/*weight*/
#weight {
    background: url('../Images/FgFnjks.png') no-repeat -371px -564px;
    width: 34px;
    height: 92px;
    position: absolute;
    left: 1px;
    bottom: 0;
    -webkit-animation: up 10000ms linear infinite alternate;
    -moz-animation: up 10000ms linear infinite alternate;
    -ms-animation: up 10000ms linear infinite alternate;
    animation: up 10000ms linear infinite alternate;
}

#shadowweight {
    width: 10px;
    height: 80px;
    position: absolute;
    left: 12px;
    bottom: 0px;
    -webkit-animation: up 10000ms linear infinite alternate;
    -moz-animation: up 10000ms linear infinite alternate;
    -ms-animation: up 10000ms linear infinite alternate;
    animation: up 10000ms linear infinite alternate;
}

/*chain*/
#chain-circle {
    background: url('../Images/FgFnjks.png') no-repeat -371px -706px;
    width: 146px;
    height: 147px;
    position: absolute;
    left: 40%;
    top: 102px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

#gear11 {
    background: url('../Images/FgFnjks.png') no-repeat 0 -356px;
    width: 125px;
    height: 124px;
    position: absolute;
    left: 42%;
    top: 110px;
    -webkit-animation: rotate-back 10000ms linear infinite;
    -moz-animation: rotate-back 10000ms linear infinite;
    -ms-animation: rotate-back 10000ms linear infinite;
    animation: rotate-back 10000ms linear infinite;
}

#chain-left-start {
    width: 1px;
    height: 380px;
    border-left: 2px dotted #C8D94A;
    position: absolute;
    left: 40%;
    top: 175px;
    opacity: 0.7;
    -webkit-animation: collapse-left-start 10000ms linear infinite;
    -moz-animation: collapse-left-start 10000ms linear infinite;
    -ms-animation: collapse-left-start 10000ms linear infinite;
    animation: collapse-left-start 10000ms linear infinite;
}

#chain-left-end {
    width: 1px;
    height: 380px;
    border-left: 2px dotted #C8D94A;
    position: fixed;
    left: 46%;
    bottom: 300px;
    opacity: 0.7;
    -webkit-animation: collapse-left-end 10000ms linear infinite;
    -moz-animation: collapse-left-end 10000ms linear infinite;
    -ms-animation: collapse-left-end 10000ms linear infinite;
    animation: collapse-left-end 10000ms linear infinite;
}

.action-end {
    background-color: aqua;
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
    z-index: 2000;
    -webkit-animation: end 0.5s 1 alternate forwards; /* Safari and Chrome */
}

/*ANIMATIONS*/
/*rotate*/
@keyframes

"rotate" {
    from;

{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes

"rotate" {
    from;

{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

}

@-ms-keyframes

"rotate" {
    from;

{
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

}

@-o-keyframes

"rotate" {
    from;

{
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

}
/*rotate-back*/
@keyframes

"rotate-back" {
    from;

{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

}

@-moz-keyframes rotate-back {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes

"rotate-back" {
    from;

{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

}

@-ms-keyframes

"rotate-back" {
    from;

{
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

}

@-o-keyframes

"rotate-back" {
    from;

{
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

to {
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

}
/*weight up*/
@keyframes

"up" {
    from;

{
    bottom: 0px;
}

to {
    bottom: 340px;
}

}

@-moz-keyframes up {
    from {
        bottom: 0px;
    }

    to {
        bottom: 340px;
    }
}

@-webkit-keyframes

"up" {
    from;

{
    bottom: 0px;
}

to {
    bottom: 340px;
}

}

@-ms-keyframes

"up" {
    from;

{
    bottom: 0px;
}

to {
    bottom: 340px;
}

}

@-o-keyframes

"up" {
    from;

{
    bottom: 0px;
}

to {
    bottom: 340px;
}

}
/*chain up and down*/
@keyframes

"collapse-left-start" {
    from;

{
    height: 0px;
}

to {
    height: 387px;
}

}

@-moz-keyframes collapse-left-start {
    from {
        height: 0px;
    }

    to {
        height: 387px;
    }
}

@-webkit-keyframes

"collapse-left-start" {
    from;

{
    height: 0px;
}

to {
    height: 387px;
}

}

@-ms-keyframes

"collapse-left-start" {
    from;

{
    height: 0px;
}

to {
    height: 387px;
}

}

@-o-keyframes

"collapse-left-start" {
    from;

{
    height: 0px;
}

to {
    height: 387px;
}

}

/*chain up and down*/
@keyframes

"collapse-left-end" {
    from;

{
    bottom: 310px;
}

to {
    height: 0px;
}

}

@-moz-keyframes collapse-left-end {
    from {
        bottom: 310px;
    }

    to {
        height: 0px;
    }
}

@-webkit-keyframes

"collapse-left-end" {
    from;

{
    bottom: 310px;
}

to {
    height: 0px;
}

}

@-ms-keyframes

"collapse-left-end" {
    from;

{
    bottom: 310px;
}

to {
    height: 0px;
}

}

@-o-keyframes

"collapse-left-end" {
    from;

{
    bottom: 310px;
}

to {
    height: 0px;
}

}

@-webkit-keyframes end /* Safari and Chrome */
{
    0% {
        bottom: 310px;
    }

    100% {
        height: 0px;
    }
}

@keyframes end {
    0% {
        bottom: 300px;
    }

    100% {
        height: 0px;
    }
}
